<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogInventory\Ui\DataProvider\Product\Form\Modifier\AdvancedInventory">
        <plugin name="fishpig-no-inventory"
                type="FishPig\NoInventory\Plugin\Magento\CatalogInventory\Ui\DataProvider\Product\Form\Modifier\AdvancedInventoryPlugin"/>
    </type>
</config>
